<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plots</title>
</head>
<body>
    <h1>Reports</h1>
   
    <div>
        <h2>Count of Tickets by Status</h2>
        <img src="data:image/png;base64,{{ plots[0] }}" alt="Status Counts">
    </div>
   
    <div>
        <h2>Average Ticket Priority by Category</h2>
        <img src="data:image/png;base64,{{ plots[1] }}" alt="Average Priority by Category">
    </div>
 
    <div>
        <h2>Count of Tickets by Assigned Consultant</h2>
        <img src="data:image/png;base64,{{ plots[2] }}" alt="Tickets by Consultant">
    </div>
 
    <div>
        <h2>Tickets Over Time</h2>
        <img src="data:image/png;base64,{{ plots[3] }}" alt="Tickets Over Time">
    </div>
    <div>
        <h2>count of user roles</h2>
        <img src="data:image/png;base64,{{ plots[4] }}" alt="count of user roles">
    </div>
    <div>
        <h2>closed tickets over time</h2>
        <img src="data:image/png;base64,{{ plots[5] }}" alt="closed tickets over time">
    </div>
 
   
 
 
</body>
</html>